# Visual Studio
.vs/
.vscode/

# .NET
**/bin/
**/obj/
*.csproj.user
*.pubxml.user

# Node
**/node_modules/
**/dist/
*.tsbuildinfo

# Logs
**/logs/
*.log

# OS
.DS_Store
Thumbs.db

# Sensitive files
*.publishSettings
BasmaApi/appsettings.Production.json

# Local env files
.env
.env.*
